log/
obj/
_site/
.optemp/
_themes*/
_repo.*/

.openpublishing.buildcore.ps1
/.vscode/settings.json
/.vscode
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/dataexplorer-docs-pr/v16/.suo
/.vs/dataexplorer-docs-pr/v16
/.vs
